snippet  for "for loop" b
for($1){
    $2       
}
endsnippet


snippet us "using namespace std" b
using namespace std;
endsnippet



snippet ifn "if without parentheses" b
if($1)  $2
endsnippet

snippet forn "for without parenthese" b
for($1) $2
endsnippet

